body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #e0f7ff, #89d4ff);
  color: #00c3ff;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #00c3ff33;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

/* NAV */
nav a {
  color: rgb(59, 149, 246);
  margin: 10px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #00c3ff;
}

/* SECCIONES */
section {
  padding: 40px;
}

/* HERO */
#inicio {
  background: linear-gradient(135deg, #0a0a0a, #001f3f);
  color: white;
  text-align: center;
  padding: 100px 20px;
}

#inicio h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#inicio p {
  color: #aaa;
  font-size: 1.2rem;
}

/* FORMULARIO */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input, textarea {
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #14a9f4;
  border-radius: 5px;
}

/* BOTÓN */
button {
  background: #00c3ff;
  color: black;
  border: none;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background: #00a2d6;
  box-shadow: 0 0 15px #00c3ff;
}

/* Secciones */
section:not(#inicio) {
  background: linear-gradient(135deg, #e0f7ff, #89d4ff);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00c3ff11;
}